<!DOCTYPE html>
<html lang="zh">
<%- partial('_partial/head') %>


<body id="bodyx">
    <%- body %>
    <%- partial('_partial/footer') %>
    <!-- 《页面点击小红心 -->
<% if (theme.love){ %>
    <script type="text/javascript" src="/js/love.js"></script>
<% } %>

<!--单击显示文字-->
<% if (theme.click_show_text){ %>
    <script type="text/javascript" src="/js/click_show_text.js"></script>
<% } %>

<!-- 雪花特效3 -->
<% if (theme.snow3){ %>
    <script type="text/javascript" src="/js/snow3.js"></script>
  <% } %>

<!--彩带1.点击自动替换彩带-->
<% if (theme.ribbon){ %>
    <!-- <script src="https://g.joyinshare.com/hc/ribbon.min.js" type="text/javascript"></script> -->
    <script type="text/javascript" src="/js/ribbon.js"></script>
<% } %>

<!--彩带2.自动飘动-->
<% if (theme.ribbon_flow){ %>
    <!-- <script src="https://g.joyinshare.com/hc/piao.js" type="text/javascript"></script> -->
    <script type="text/javascript" src="/js/ribbon_flow.js"></script>
<% } %>

</body>

</html>