<!DOCTYPE html>
<html lang="zh">
<%- partial('_partial/head') %>

<body id="bodyx">
    <%- body %>
    <%- partial('_partial/footer') %>
    <!-- 《页面点击小红心 -->
<% if (theme.love){ %>
    <script type="text/javascript" src="/js/love.js"></script>
<% } %>

<!--单击显示文字-->
<% if (theme.click_show_text){ %>
    <script type="text/javascript" src="/js/click_show_text.js"></script>
<% } %>
</body>

</html>